@inject NavigationManager Navigator;

@if (Post != null)
{
    <div class="my-2">
        <h3><InlineButton @onclick="() => Navigator.NavigateTo(Pages.Post.GetPath(Post.Id))"><span class="@(Post.IsHidden ? "text-muted" : "")">@Post.Title</span></InlineButton></h3>

        <div>@((MarkupString)@Post.BodyPreview)</div>

        <div class="d-flex text-muted">
            <span style="white-space: pre">Written by @Post.Author.UserName</span>
            <span class="ml-auto">@Post.CreationTime.ToLocalTime().ToString("dd.MM.yyyy")</span>
        </div>
    </div>
}

@code {
    [Parameter]
    public BlogService.Db.Post Post { get; set; }
}
